# Global patterns
*.exe
*.o
*.swp
.DS_Store
nimcache/
wrapper/

# Full paths.
/README.html
/license.html
/mangler/modified_headers
/midnight_dynamite_pkg/hoedown
/nakefile
/tests/md_api/README.html
/tests/md_api/README.md
/tests/md_api/specific.html
